* {
  box-sizing: border-box;
}
body {
  font-family: "karla", sans-serif;
  background-color: floralwhite1;
}
.yellow-circle {
  background-color: lightyellow;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-top: -80px;
  margin-bottom: -120px;
  margin-right: -80px;
}
.questions {
  margin-top: -15px;
}
.answers {
  margin: -5px;
  margin-top: -10px;
}
.blu-circle {
  background-color: lightblue;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-top: 50px;
  margin-left: -90px;
  position: fixed;
  /*margin: 0px;*/
}
.cover-h2 {
  font-weight: 400;
  font-size: 20px;
}
.button {
  background-color: royalblue;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  height: 55px;
  width: 180px;
  font-size: 25px;
  margin-top: 15px;
}
.kwizikal {
  margin-bottom: -10px;
  font-weight: 600;
  font-size: 35px;
}
.qna {
  padding: -10px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}
.main-page-cont {
  padding: 20px; /*space btw elements & margin*/
}
.section-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  padding: 60px;
}
